<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Empleados</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="">EMPLEADOS</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNav" aria-controls="navbarNav"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link" href="/">Inicio</a></li>
			</ul>
		</div>
	</nav>
	<div class="container text-center">
		<div>
			<h1>Bienvenido a la aplicacion de Empleados</h1>
		</div>
		<div class="p-2">
			<a class="h2" th:href="@{/listar}">Registro de Empleados</a>
		</div>
		<div class="p-2">
			<a class="h2" th:href="@{/listarSolic}">Registro de Solicitudes</a>
		</div>
	</div>
</body>
</html>